.editSection {
  min-height: 6rem;
}

.editButton {
  padding: 8px 15px;
  font-size: 1rem;
  border: 1px solid #00bc77;
  background-color: #00bc77;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
