.Button {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  margin-top: 1rem;
  border: none;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}
