.Button {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  margin-top: 1rem;
  border: none;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  font-size: inherit;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: #089a64;
  }
}
